[user]
	email = dforgacs@outpost-vfx.com
	name = dforgacs
[credential]
	helper = store
[alias]
	rebaseall = rebase --rebase-merges --keep-empty
	staged = diff --staged
	noff = merge --no-ff --no-edit
	cln = clean -xdf -e .venv
[status]
	showUntrackedFiles = no
