[Desktop Entry]
Type=Application
Exec=xgamma -gamma 1.25
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=gamma
Name=gamma
Comment[en_GB]=gamma
Comment=gamma
